@font-face {
    font-family: AgencyFB;
    src: url(../fonts/AgencyFB.ttf) format('truetype');
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-right: 0px;
    padding-left: 0px;
}

/* ---------- Header ---------- */
header {
    height: 85px;
    margin-bottom: 20px;
}

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    font-size: 23px;
    font-family: 'AgencyFB';
}

.navbar-brand {
    height: auto;
}

.navbar-nav {
    margin: 40px 0px 30px 0px;
}

.partners-image {
    float: right;
    text-align: center;
    padding: 35px 0 35px 35px;
}

@media (min-width: 980px) and (max-width: 1199px) {
    .logo img {
        width: 150px;
        margin-top: 25px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .logo img {
        width: 150px;
        margin-top: 25px;
    }

    .partners-image {
        display: none;
    }
}

@media (max-width: 767px) {

    .partners-image {
        float: none;
        padding: 0px;
        margin: auto;
    }

    .logo img {
        width: 250px;
        margin-top: 10px;
    }

    .navbar-nav {
        margin: 10px;
    }

    header {
        height: auto;
    }
}

@media (max-width: 480px) {
    header {
        height: auto;
    }

    .logo img {
        width: 150px;
        margin-top: 0px;
    }
}

/* ---------- Our vehicles ---------- */

.our-vehicles-inforamation {
    width: 25%;
    background-color: #ffc71a;
    font-family: 'AgencyFB';
    padding: 5px 20px;
    float: left;
    height: 800px;
}

.our-vehicles-inforamation ul {
    text-align: right;
    list-style: none;
    margin: 15px auto;
    font-size: 20px;
}

.our-vehicles-inforamation ul li:first-child {
    font-size: 23px;
}

.our-vehicles-quote-trip {
    float: left;
    width: 25%;
    background-color: #414851;
    height: 100%;
    border: 1px solid black;
    height: 800px;
}

.our-vehicles-quote-trip-label {
    font-family: 'AgencyFB';
    background-color: #323338;
    color: #ffc71a;
    width: 100%;
    text-align: center;
    font-size: 30px;
    height: 50px;
    padding: 5px;
}

.our-vehicles-quote-trip-form {
    font-family: 'AgencyFB';
    padding-left: 30px;
    padding-right: 20px;
    width: 100%;
}

.our-vehicles-quote-trip-form label {
    color: #ffc71a;
    font-size: 20px;
}

.our-vehicles-quote-trip-form select {
    width: 100%;
    height: 30px;
    font-family: 'AgencyFB';
    font-size: 20px;
    padding-left: 20px;
}

.our-vehicles-quote-trip-form input[type=date] {
    width: 100%;
    height: 30px;
    font-family: 'AgencyFB';
    font-size: 20px;
    padding-left: 20px;
}

.our-vehicles-quote-trip-form .images-radio label {
    width: 100%;
}

.our-vehicles-quote-trip-form .images-radio label div {
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin: 5px auto;
    border: 2px solid #000;
    padding: 0px 10px 0px 0px;
}

.our-vehicles-quote-trip-form .images-radio label div img {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.our-vehicles-quote-trip-form .images-radio label div:hover img {
    margin-left: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.our-vehicles-quote-trip-form .images-radio label:last-child div img {
    margin-top: 5px;
}

.our-vehicles-quote-trip-form .images-radio label div p {
    float: right;
    font-family: 'AgencyFB';
    margin-top: 10px;
}

.our-vehicles-quote-trip-form .images-radio label > input {
    visibility: hidden;
    position: absolute;
}

.our-vehicles-quote-trip-form .images-radio label > input + div {
    cursor: pointer;
}

.our-vehicles-quote-trip-form .images-radio label > input:checked + div {
    border: 3px solid #ffc71a;
}

.our-vehicles-quote-trip-form .images-radio label > input:hover + div {
    border: 3px solid #ffc71a;
}

.our-vehicles-quote-trip-form .images-radio label > input:checked + div img {
    margin-left: 30px;
    -webkit-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.form-location-block {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.form-duration-block {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 20px;
}

.book-your-trip-btn {
    background-color: #ffc71a;
    font-family: 'AgencyFB';
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #000;
    width: 100%;
    height: 53px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 23px;
    transition-duration: 0.2s;
}

.book-your-trip-btn:hover {
    background-color: #434a53;
    border: 4px solid #ffc71a;
    color: #ffc71a;
    transition-duration: 0.2s;
}

.list-our-vehicles {
    float: left;
    width: 50%;
    background-color: #414851;
    height: 800px;
}

.list-our-vehicles-label {
    color: #fff;
    font-family: 'AgencyFB';
    font-size: 25px;
    text-align: right;
    margin: 20px 100px 20px;
}

.our-vehicles-part {
    margin-left: 10px;
    height: 170px;
}

.our-vehicles-part img {
    float: left;
    margin-right: 10px;
    width: 360px;
}

.our-vehicles-part p {
    float: left;
    font-family: 'AgencyFB';
    font-size: 20px;
    text-align: left;
    color: #fff;
}

@media (min-width: 980px) and (max-width: 1199px) {
    .our-vehicles-inforamation ul {
        text-align: right;
        list-style: none;
        margin: 5px auto;
        font-size: 18px;
    }

    .our-vehicles-quote-trip-form {
        padding-left: 10px;
        padding-right: 10px;
    }

    .our-vehicles-part img {
        width: 250px;
        height: auto;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .our-vehicles-inforamation {
        width: 50%;
    }

    .our-vehicles-quote-trip {
        width: 50%;
    }

    .list-our-vehicles {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        text-align: center;
    }

    .our-vehicles-quote-trip-form {
        padding-left: 20px;
        padding-right: 20px;
    }

    .our-vehicles-part {
        margin: 0px;
        width: 40%;
        margin: 0px 0px 40px;
        display: inline-block;
        text-align: center;
    }

    .our-vehicles-part p {
        width: 100%;
    }

    .our-vehicles-part img {
        width: 270px;
        height: auto;
    }
}

@media (max-width: 767px) {
    .our-vehicles-inforamation {
        width: 50%;
    }

    .list-our-vehicles-label {
        margin: 20px;
    }

    .our-vehicles-quote-trip {
        width: 50%;
    }

    .our-vehicles-quote-trip-form {
        padding-left: 10px;
        padding-right: 10px;
    }

    .list-our-vehicles {
        width: 100%;
        height: auto;
        padding-bottom: 50px;
        text-align: center;
        padding: 0px 30px;
    }

    .our-vehicles-part {
        margin: 0px;
        height: auto;
    }

    .our-vehicles-part p {
        float: none;
    }

    .our-vehicles-part img {
        float: none;
        width: 100%;
        height: auto;
    }

    .our-vehicles-inforamation ul {
        font-size: 17px;
    }

    .our-vehicles-inforamation ul li:first-child {
        font-size: 20px;
    }
}

@media (max-width: 480px) {
    .our-vehicles-inforamation {
        display: none;
    }

    .our-vehicles-quote-trip {
        width: 100%;
    }

    .our-vehicles-quote-trip-form {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* ---------- Advantages ---------- */

.our-advantages {
    margin-top: 38px;
    padding-right: 15px;
    padding-left: 15px;
}

.advantages-label {
    text-transform: uppercase;
    font-family: 'AgencyFB';
    font-size: 20px;
    font-weight: bold;
}

.advantages-line-hr {
    height: 2px;
    background-color: #ffc71a;
    width: 80%;
    margin: 5px auto;
}

.advantages-infotext {
    font-family: 'AgencyFB';
    font-size: 20px;
}

.more-info-button {
    background-color: #ffc71a;
    font-family: 'AgencyFB';
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #434a53;
    width: 253px;
    height: 53px;
    margin-top: 20px;
    font-size: 23px;
    transition-duration: 0.2s;
}

.more-info-button:hover {
    background-color: #434a53;
    border: 4px solid #ffc71a;
    color: #ffc71a;
    transition-duration: 0.2s;
}

/* ---------- How to book ---------- */

.how-to-book {
    background-color: #414a57;
    margin-top: 30px;
    padding: 30px 15px;
}

.label-how-to-book {
    color: #ffc71a;
    font-family: 'AgencyFB';
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    margin: 10px auto 20px;
}

.how-to-book-steps {
    color: #fff;
    font-family: 'AgencyFB';
    font-size: 25px;
    margin: 0px;
}

.how-to-book-steps a {
    color: #fff;
    font-family: 'AgencyFB';
    font-size: 25px;
    text-decoration: underline;
}

/* ---------- FOOTER ---------- */
footer {
    background-color: #231f20;
    width: 100%;
}

footer p {
    color: #fff;
    font-family: 'AgencyFB';
    font-size: 20px;
    margin: 5px auto;
}

/* ---------- RESERVATION ---------- */

.label-reservation-form {
    color: #ffc71a;
    background-color: #231f20;
    width: 100%;
    font-family: 'AgencyFB';
    font-size: 25px;
    text-transform: uppercase;
    padding: 5px 10px 5px;
    margin-bottom: 0px;
}

.left-reservtion-form {
    width: 30%;
    float: left;
    background-color: #ffc71a;
    height: 910px;
}

.left-reservtion-form-details p:first-child {
    font-family: 'AgencyFB';
    font-size: 25px;
    padding-left: 20px;
}

.group-ad-ki-lu {
    margin: 5px auto;
    text-align: center;
}

.group-ad-ki-lu label {
    margin: 5px 10px;
}

.left-reservtion-form-details p:last-child {
    font-family: 'AgencyFB';
    font-size: 13px;
    text-align: center;
    padding: 0px 20px;
}

.left-reservtion-form-details input {
    width: 80%;
    margin: 5px 10%;
    color: #404751;
    height: 30px;
    padding-left: 10px;
}

.left-reservtion-form hr {
    width: 80%;
    margin: auto;
    height: 1px;
    background-color: #000;
    margin: 10px auto;
    border: none;
}

.left-reservtion-form-passengers-luggage > .passengers-luggage-label {
    font-family: 'AgencyFB';
    font-size: 25px;
    padding-left: 20px;
}

.left-reservtion-form-passengers-luggage > .passengers-luggage-label2 {
    font-family: 'AgencyFB';
    font-size: 21px;
    padding-left: 20px;
}

.left-reservtion-form-passengers-luggage > .passengers-luggage-label3 {
    font-family: 'AgencyFB';
    font-size: 14px;
    padding-left: 20px;
    margin: -10px auto 10px;
}

.oversized-luggage {
    width: 90%;
    margin: 5px 5%;
}

.child-seat {
    width: 90%;
    margin: 5px 5%;
}

.live-animals-not {
    font-family: 'AgencyFB';
    font-size: 14px;
    text-align: center;
    color: #ff1803;
}

.middle-reservtion-form {
    width: 30%;
    float: left;
    background-color: #fff;
    height: 910px;
}

.middle-reservtion-form hr {
    background-color: #231f20;
    height: 1px;
    border: none;
    width: 90%;
    margin: 5px 5%;
}

.middle-reservtion-form > .pick-up-detils p:first-child {
    font-family: 'AgencyFB';
    font-size: 25px;
    padding-left: 20px;
    color: #ffc71a;
}

.middle-reservtion-form > .pick-up-detils select {
    width: 90%;
    margin: 5px 5%;
    height: 30px;
    padding-left: 10px;
}

.middle-reservtion-form > .pick-up-detils input[type="text"] {
    width: 90%;
    margin: 5px 5%;
    height: 30px;
    padding-left: 10px;
}

.middle-reservtion-form > .pick-up-detils input[type="date"] {
    padding-left: 10px;
}

.middle-reservtion-form > .pick-up-detils input[type="time"] {
    padding-left: 10px;
}

.pickup-arrival-date {
    width: 90%;
    margin: 5px 0.5% 5px 5%;
    height: 30px;
    padding: 0 5px;
}

.pickup-arrival-time {
    width: 43.5%;
    margin: 5px 5% 5px 0.5%;
    height: 30px;
    float: right;
}

.pick-up-text {
    font-family: 'AgencyFB';
    font-size: 13px;
    width: 90%;
    margin: 5px 5%;
}

.drop-off-detils select {
    width: 90%;
    margin: 5px 5%;
    height: 30px;
    padding-left: 10px;
}

.drop-off-detils input[type="text"] {
    width: 90%;
    margin: 5px 5%;
    height: 30px;
    padding-left: 10px;
}

.drop-off-text {
    font-family: 'AgencyFB';
    font-size: 13px;
    width: 90%;
    margin: 5px 5%;
}

.special-request p {
    font-family: 'AgencyFB';
    font-size: 25px;
    padding-left: 20px;
    color: #ffc71a;
}

.middle-reservtion-form > .drop-off-detils p:first-child {
    font-family: 'AgencyFB';
    font-size: 25px;
    padding-left: 20px;
    color: #ffc71a;
}

.special-request textarea {
    width: 90%;
    margin: 5px 5%;
    min-height: 150px;
    max-width: 90%;
    max-height: 300px;
}

.right-reservtion-form {
    height: 910px;
    width: 40%;
    float: left;
    background-color: #414851;
    padding: 0 20px 30px;
}

.right-reservtion-form p:first-child {
    font-family: 'AgencyFB';
    font-size: 25px;
    margin-bottom: 15px;
    color: #fff;
}

.right-reservtion-form label {
    color: #fff;
    width: 90%;
    margin: 5px 5%;
    font-family: 'AgencyFB';
    font-size: 20px;
    cursor: pointer;
}

.bottom-reservtion-form {
    background-color: #231f20;
    width: 100%;
    height: auto;
    float: left;
    text-align: center;
}

.total-cost-side {
    vertical-align: top;
    display: inline-block;
    text-align: right;
    margin: 25px 20px 0px 0px;
    width: 250px;
}

.total-cost-side table {
    font-family: 'AgencyFB';
    font-size: 20px;
    color: #fff;
    float: right;
}

.total-cost-side table tr td {
    padding: 0px 5px;
    height: 35px;
}

.vertical-line-bot {
    vertical-align: top;
    display: inline-block;
    width: 1px;
}

.bottom-booking-terms {
    vertical-align: top;
    display: inline-block;
    text-align: left;
    font-family: 'AgencyFB';
    font-size: 20px;
    color: #fff;
    margin: 25px 0px 0px 20px;
    width: 250px;
}

.bottom-booking-terms ul {
    padding-left: 0;
    margin-top: 5px;
}

.bottom-booking-terms li {
    list-style: none;
    height: 35px;
}

.bottom-reservtion-zagolvok {
    font-family: 'AgencyFB';
    font-size: 25px;
    color: #ffc71a;
    text-transform: uppercase;
}

.bottom-reservtion-form button {
    background-color: #ffc71a;
    font-family: 'AgencyFB';
    text-transform: uppercase;
    font-weight: bold;
    border: 2px solid #434a53;
    width: 253px;
    height: 53px;
    margin-top: 20px;
    font-size: 23px;
    transition-duration: 0.2s;
}

.bottom-reservtion-form button:hover {
    background-color: #434a53;
    border: 4px solid #ffc71a;
    color: #ffc71a;
    transition-duration: 0.2s;
}

@media (min-width: 1200px) {
    .bottom-booking-terms-hidden {
        display: none;
    }
}

@media (min-width: 990px) and (max-width: 1199px) {
    .left-reservtion-form {
        height: 800px
    }

    .middle-reservtion-form {
        height: 800px
    }

    .right-reservtion-form {
        height: 800px
    }

    .right-reservtion-form label img {
        width: 300px;
        height: auto;
    }

    .bottom-booking-terms-hidden {
        display: none;
    }

}

@media (min-width: 768px) and (max-width: 991px) {
    .left-reservtion-form {
        width: 50%;
        height: 600px;
    }

    .middle-reservtion-form {
        width: 50%;
        height: 600px;
    }

    .right-reservtion-form {
        width: 100%;
        height: auto;
    }

    .navbar {
        height: 100px;
    }

    header {
        height: 100px;
    }

    .label-reservation-form {
        font-size: 30px;
        text-transform: uppercase;
        padding: 0px 20px;
        margin-bottom: 0px;
        line-height: 50px;
    }

    .right-reservtion-form label img {
        width: 250px;
        height: auto;
    }

    .special-request textarea {
        min-width: 90%;
        max-height: 150px;
    }

    .right-reservtion-form hr {
        display: none;
    }

    .right-reservtion-form label {
        margin: 0px;
        width: 50%;
        float: left;
        margin: 0px 0px 30px 0px;
    }

    .bottom-booking-terms-hidden {
        display: none;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    .left-reservtion-form {
        width: 50%;
        height: 600px;
    }

    .middle-reservtion-form {
        width: 50%;
        height: 600px;
    }

    .right-reservtion-form {
        width: 100%;
        height: auto;
    }

    .right-reservtion-form hr {
        display: none;
    }

    .right-reservtion-form label {
        margin: 0px;
        width: 50%;
        float: left;
        margin: 0px 0px 30px 0px;
    }

    .right-reservtion-form label img {
        width: 250px;
        height: auto;
    }

    .bottom-booking-terms-hidden {
        display: none;
    }

}

/* Landscape phones and down */
@media (max-width: 650px) {
    .left-reservtion-form {
        width: 100%;
        height: auto;
    }

    .middle-reservtion-form {
        width: 100%;
        height: auto;
    }

    .right-reservtion-form {
        width: 100%;
        height: auto;
    }

    .right-reservtion-form label {
        margin: 0px;
        width: 100%;
        float: none;
        margin: 0px 0px 30px 0px;
    }

    .right-reservtion-form label img {
        width: 100%;
        height: auto;
    }

    .vertical-line-bot {
        display: none;
    }

    .bottom-booking-terms {
        display: none;
    }

    .bottom-booking-terms-hidden {
        display: block;
        text-align: center;
        margin: 10px 20px;
    }

    .bottom-booking-terms-hidden ul {
        padding-left: 0px;
    }

    .bottom-booking-terms-hidden li {
        font-family: 'AgencyFB';
        font-size: 20px;
        color: #fff;
        list-style: none;
    }

    .total-cost-side {
        display: block;
        vertical-align: top;
        text-align: center;
        margin: 10px 20px;
        width: auto;
    }

    .total-cost-side table {
        float: none;
        margin: auto;
    }
}

.background-black{
    font-family: AgencyFB;
    background-color: #231f20;
    color: #ffc71a;
    font-size: 25px !important;
}
.background-orange{
    background-color: #ffc71a;
    font-family: AgencyFB;
    font-size: 20px;
}
.orderSuccess{
    margin: 7% auto;
}
.pick-up-date-vehicles{
    width: 100%;
    height: 30px;
    font-family: 'AgencyFB';
    font-size: 20px;
    padding-left: 20px;
}